ul,ol{list-style: none;padding:0;margin:0;}
.page-design{min-width: 780px;width: 780px;margin: 30px auto;margin-bottom:200px;}
.page-design p{margin:0;word-wrap: break-word;}
.page-design img,.sidebar img{max-width: 100%;width:auto;height:auto;}
.preview{position: relative;float: left;width: 350px;background-color: #fff;border-radius: 15px 15px 0 0;margin-bottom:30px;}
.sidebar{position: relative;float: left;width: 420px;margin-left: 10px;padding-bottom: 50px;font-size: 14px;margin-top:80px;}
.sidebar::before,.sidebar::after{width: 0;height: 0;content:" ";border-style: solid;border-width: 6px 7px 6px 0;border-color: transparent #d1d1d1 transparent transparent;position: absolute;left: -6px;top: 19px;}
.sidebar::after{border-right-color: #f8f8f8;left: -4px;}
.sidebar-inner{padding: 12px;min-height: 40px;background: #f8f8f8;border-radius: 5px;border: 1px solid #d1d1d1;}
.preview-widget{display: block;bottom: 0px;}
.preview-header{width: 100%;height: 138px;background: url("../../img/shop/phone_head.png") no-repeat center /100% auto;position: relative;}
.header-cover{position: absolute;bottom: 0;width: 322px;height: 30px;background-color: #F9F9F9;left: 14px;border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.preview-title{top:-60px;cursor:pointer;color: #fff;font-size: 16px;font-weight: bold;left: 20%;position: absolute;text-align: center;width: 60%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.preview-body,.body-content{border-left: 1px solid #ccc;border-right: 1px solid #ccc;}
.preview-body{padding: 0 13px;}
.body-content{border-bottom: 1px solid #ccc;min-height: 365px;padding: 2px 0 20px; background-color:#f9f9f9;}
.preview-footer{height: 48px;background: url("../../img/shop/phone_bottom.png") no-repeat center /100% auto;}
.preview-widget{clear: both;}
.design-widget{position: relative;padding: 0 6px 4px 10px;background-color: #fff;width: 350px;padding:13px;marign:0 auto;}
.widget-list{padding: 0;margin:0;}
.widget-list li{float: left;display: table;margin:4px 1%;background: #fff;width:23%;}
.widget-list li a{display: table-cell;border: 1px solid #d1d1d1;width: 56px;height: 40px;line-height: 14px;text-align: center;vertical-align: middle;}
.operation{position: fixed;bottom: 0;clear:both;width: 100%;left:0;padding: 10px 0;text-align: center;z-index: 1000;}
.widget-wrap{position:relative;cursor:move;}
.widget-wrap .actions{position: absolute;display: none;left: 0;bottom: 0;height: 100%;width: 100%;border: 2px dashed rgba(255,0,0,0.5);z-index: 2;}
.widget-wrap .sort{display: none;position: absolute;right: 10px;top: 50%;margin-top: -10px;cursor: move;color:silver;}
.widget-wrap:hover .actions, .editing .actions{display: block;}
.widget-wrap:hover .sort{display:block;}
.widget-wrap .actions-wrap{position: absolute;bottom: 0;right: 0;}
.widget-wrap .actions-wrap span.action{display: inline-block;background-color: rgba(0,0,0,0.3);color: #fff;padding: 0 5px;margin-left: 1px;font-size: 12px;}
.widget-wrap .actions-wrap span.action:hover{color: #ddd;cursor: pointer;}
.page-design .control-group { padding:0 6px; margin-bottom:10px;}
.page-design .control-group .controls{padding-left: 90px;}
.page-design .control-group .control-label{width:87px;text-align: right;float:left;}
.page-design .control-group .form-control{width:95%;padding:0 4px;}
.page-design .control-group .required{color:red;margin-right:4px;}
.page-design .control-group .form-control-color{background-color: #fff;height: 20px;padding: 4px 6px;margin-bottom: 10px;font-size: 14px;line-height: 20px;width:192px; border: 1px solid #ccc;border-radius: 2px;cursor: pointer;}
.page-design .control-group-large .control-label{width:120px;}
.page-design .control-group-large .controls{padding-left:130px;}
.page-design .radio {margin:0;padding-left:10px;}
.page-design .item{position: relative;border: 1px solid #e5e5e5;margin: 10px 0 0 0;padding: 14px;background-color: #fff;}
.page-design .item .actions{position: absolute;top: -10px;right: -10px;}
.page-design .item .actions .action {color: #fff;cursor: pointer;background-color: rgba(0,0,0,.4);border-radius: 50%;padding: 3px 6px;}
.page-design .item .actions .action:hover {background-color: rgba(0,0,0,.6);}
.page-design .item .item-image{position: relative;float: left;width: 100px;text-align: center;height:100px;line-height:100px;border: 1px solid #e5e5e5;}
.page-design .item .modify-image{position: absolute;bottom: 0;left: 0;width: 100%;height: 32px;line-height: 32px;color: #fff;background: rgba(0,0,0,0.5);}
.page-design .item .item-content{padding-left:100px;}
.page-design .item .item-content .control-label{width:60px;}
.page-design .item .item-content .controls{padding-left:60px;}
.page-design .add-item {display: block;text-align:center;}
.page-design .add-item .add-icon,.page-design .add-image .add-icon{border-radius: 50%;background-color: #1ab394;color: #fff;padding: 3px 4px 1px;}
.page-design .dropdown .dropdown-menu{top:92%;}
.page-design .dropdown:hover .dropdown-menu{display: block;}
/* 页面头部*/
.page-head-1{background-color: #fff;/*padding:0 10px;*/}
.page-head-1 .shop-logo{width:60px;height:60px;border-radius: 8px;margin-right:10px;}

.white-space-slider{width:230px;position: relative;display:inline-block;background-color: #f5f5f5;border: 1px solid #aaa;-webkit-border-radius: 10px;-moz-border-radius: 10px;border-radius: 10px;box-shadow: inset 0 1px 1px rgba(0,0,0,.15);}
.slider-height{display: inline-block;}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{border: 1px solid #aaa;background: #ddd;}
.page-design .com-notice{color:#fc6f37 ;padding:6px;}
.page-design .com-notice >div{width:90%;overflow: hidden;}
.page-design .custom-line-wrap{height: 30px;position: relative;}
.page-design .custom-line{border: 0 none;border-top: 1px dashed #bbb;margin: auto;height: 1px;width: 100%;position: absolute;left: 0;top: 0;right: 0;bottom: 0;}
.custom-nav li{height:40px;line-height:40px;border-bottom:1px #c1c1c1 solid;}
.custom-nav li a{display: block;height: 100%;color: #333;display: block;font-size: 14px;font-weight: 700;}
.custom-nav li a .fa-chevron-right{margin-top:15px;}
.custom-nav-image {text-align: center;}
.custom-nav-image li {width: 100%;float: left;overflow: hidden;padding: 5px 1px;}
.custom-nav-image li .nav-img-wap{display: block;overflow: hidden;}
.custom-nav-image li .nav-img-wap img{vertical-align: middle;width:100%}
.custom-nav-image li .title{color: #333;height: 24px;line-height: 24px;font-size: 12px;marign:0}
.custom-nav-image li .item{position: relative;float: left;width: 120px;text-align: center;}
.custom-nav-2 li{width:50%;}
.custom-nav-3 li{width:33.3333%;}
.custom-nav-4 li{width:25%;}

.custom-coupon {padding: 10px 0;text-align: center;font-size: 0;}
.custom-coupon li {display: inline-block;margin:0 3px;width: 94px;height: 67px;border-radius: 4px;background-color: #f85053;float: left;position:relative;}
.custom-coupon li:nth-child(2) {background-color: #f85053;}
.custom-coupon li:nth-child(3) {background-color: #f85053;}
.custom-coupon li a {color: #fff;}
.custom-coupon li:nth-child(2) a {color: #fff;}
.custom-coupon li:nth-child(3) a {color: #fff;}
.custom-coupon li .border_bg {width: 2px;height: 67px;background-size: 100%;position: absolute;top: 0;}
.custom-coupon li .bor_coupon_l {background: url(../../img/shop/yhq_03.jpg) no-repeat;left: 0;background-size: 100%;}
.custom-coupon li .bor_coupon_r {background: url(../../img/shop/yhq_05.jpg) no-repeat;right: 0;background-size: 100%;}
.custom-coupon .custom-coupon-price {padding-top: 8px;height:35px;font-size: 24px;overflow: hidden;}
.custom-coupon .custom-coupon-price span {font-size: 16px;}
.custom-coupon .custom-coupon-desc {height: 20px;line-height: 20px;font-size: 12px;padding-top: 4px;overflow: hidden;}
.border_bg{width: .1rem;height: 3.25rem;background-size: 100%;position: absolute;top: 0}
.bor_coupon_l{background: url(../../wap/images/yhq_03.jpg) no-repeat; background-size: 100%;left: 0}
.bor_coupon_r{background: url(../../wap/images/yhq_05.jpg) no-repeat; background-size: 100%;right: 0}
.custom-image{position:relative}
.custom-image li{padding:0 1px;position: relative;}
.custom-image .title{position: absolute;bottom: 0;left: 0;width: 100%;margin: 0 auto;text-align: left;padding: 5px 15px;z-index: 2;background-color: rgba(51,51,51,0.8);color: #fff;font-size: 14px;line-height: 1.5;}
.custom-image img{display: block}
.custom-image-small li{float:left;width:50%;}
.carousel{white-space: nowrap;overflow: hidden;}
.carousel li{display: inline-block;width:100%;}
.custom-image-bullet{position: absolute;text-align: center;left:0;bottom:10px;width:100%;}
.custom-image-bullet li{width: 8px;height: 8px;display: inline-block;border-radius: 100%;background: #000;opacity: .2;}
.goods-list li{float: left;margin: 0 10px 10px 0;display: block;width: 50px;height: 50px;border: 1px solid #ddd;background-color: #fff;position: relative;line-height:50px;}
.goods-list li .action{position: absolute;line-height:20px;text-align:center;color:#fff;top: -10px;right: -10px;height: 20px;width: 20px;background-color: rgba(0,0,0,.3);border-radius: 50%;}
.notice_wrap{height: 2rem; background: #ffffcc; line-height: 2rem; overflow: hidden; color: #ffa212;padding-left: .5rem; font-size: .5rem;}
.page-design .link-to{position: relative;margin-right:20px;max-width: 120px;overflow: hidden;text-overflow: ellipsis;display: inline-block;white-space: nowrap;}
.page-design .link-to em{border-left: 1px solid #fff;padding-left: 5px;margin-left:5px;}
.icons_tip{ background: url(../../img/shop/icons.png);background-size: 100px auto;}
/* 进入店铺*/
.enter_shop{color: #333; font-size:18px; height: 58px; line-height: 58px; border-bottom: solid 1px #ccc; display: block}
.enter_shop .shop_arrow{font-size:16px;}
.enter_shop span{width: 25px; height: 25px; display: inline-block; vertical-align: middle;}
.enter_shop .shop_tit span{background-position: 0 -35px; margin-right: 5px}
.enter_shop .shop_arrow span{background-position: 13px -96px; }

/* 商品*/
.search_nav{ background-color: #fff; padding: 10px 0;}
.search_cont_box{ overflow: hidden; position: relative; padding-left: 32px; height: 36px; line-height: 36px; border: 1px solid #ccc; border-radius:5px;}
.search_icon{ position: absolute; top:11px; left: 9px; width:14px; height:14px; background-position: 0 0;}
.search_input_item{ background-color: transparent; border:0 none; display: block; width: 100%; line-height: 36px; font-size: 14px; font-family: '微软雅黑';}
.search_input_item::-webkit-input-placeholder { color:#333; }
.search_input_item::-moz-placeholder { color:#333; } /* firefox 19+ */
.search_input_item:-ms-input-placeholder { color:#333; } /* ie */
/* 商品布局 默认小图*/
.goods{list-style: none;margin:0;}
.goods .goods-item{float:left;width:50%;margin:4px 0;position: relative;}
.goods .goods-link{display:block;border: 1px solid #e5e5e5;margin: 0 4px;}
.goods .goods-thumb{text-align: center;vertical-align: middle; height:144px;overflow: hidden;}
.goods .goods-thumb img{width:100%;height:100%;max-width: 100%;}
.goods .goods-name{color: #464646;word-break: break-all;white-space: nowrap;text-overflow: ellipsis;overflow: hidden; margin:5px 4px;}
.goods .goods-price{color:#fb461f;font-size:16px;margin:5px 4px;}
.goods .goods-buy{position:absolute;bottom:0;right:0;}
.goods .cart-icon{background:url(../../img/shop/icon-cart.png)  110% -10% no-repeat;width:40px;height: 40px;display: block;background-size: 100px;}
.goods .cart-icon-2{background-position:20% 90%}
.goods .cart-icon-3{background-position: 110% 86%;background-size: 90px;width: 35px;height: 35px;}
.goods .cart-icon-4{background-position:20% -25%;background-size: 80px;width: 45px;}
.goods .goods-info span{height: 20px;display: inline-block;}
/* 商品-大图*/
.goods-big .goods-item{width:100%;float: none;}
.goods-big .goods-thumb{display:block;height:auto;}
/* 商品-一大两小*/
.goods-cross .goods-item:nth-child(3n+1){width:100%;}
.goods-big .goods-item:nth-child(3n+1) .goods-thumb{display:block;height:auto;}
/* 商品-详情列表*/
.goods-detail .goods-item{width:100%;}
.goods-detail .goods-thumb{float: left;width:80px;height:80px;margin-right:10px;}
.goods-detail .goods-name{white-space:normal;}
/* 商品分组 */
.goods-group-wrap{background-color: #fff;position:relative;overflow: hidden;}
.goods-group-wrap .goods-group-menu{background-color: #EEEEEE;float: left; width:24%;}
.goods-group-wrap .goods-group{height: 42px;line-height: 42px;border-bottom: 1px solid #ddd;position: relative;}
.goods-group-wrap .goods-group a{color:#888;display: block;padding:0 3px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.goods-group-wrap .active{border-left: 3px solid #fe4b0c;background-color: #fff;}
.goods-group-wrap .active a{color:#323232;}
.goods-group-wrap .goods-wrap{background-color: #fff;padding-left:24%;}
.goods-group-menu-top .goods-group-menu{float:none;width:100%; overflow: hidden;white-space: nowrap;}
.goods-group-menu-top .goods-group{width:25%;float:left;text-align: center}
.goods-group-menu-top .active{border-left: 0 none;border-bottom: 3px solid #fe4b0c;}
.goods-group-menu-top .goods-wrap{background-color: #fff;padding-left:0;}
/* 优惠券 */
.control-group .coupon-list {list-style-type: decimal;margin:10px 0;}
.control-group .coupon-list li {margin-left: 20px;padding: 8px 45px 8px 5px;position: relative;}
.control-group .coupon-list li span{margin: 0px 2px;}
.control-group .coupon-list li::after {border-bottom: 1px dashed #d7d7d7;bottom: 0;content: "";left: -20px;position: absolute;right: 0;}
.control-group .coupon-list li:hover .coupon-list-opts a {color: #0077dd;}
.control-group .coupon-list .coupon-list-content {display: inline-block;max-width: 100%;}
.control-group .coupon-list .coupon-list-summary {display: inline-block;max-width: 360px;vertical-align: top;word-break: break-all;word-wrap: break-word;}
.control-group .coupon-list .coupon-list-opts {position: absolute;right: 5px;top: 8px;}
.control-group .coupon-list .coupon-list-opts a {color: #ddd;}
.custom-richtext{color:#333;font-size:14px;line-height:150%;}
/* 个人主页 */
.mb10{margin-bottom: 10px;}
.comicon{background: url(../../img/shop/icon1.png) no-repeat;}
.banner_wrap{width:100%; background: #ff6666; height: 90px; position: relative;}
.banner_photo{width:50px; height: 50px; overflow: hidden;border: solid 5px #fff; border-radius: 50%; margin:18px 10px 0}
.banner_photo img{width: 100%}
.logo_text{font-size: 14px;line-height: 90px;color: #fff}
.logo_text a{ color: #fff}
.right_arrow{ position: absolute;right: 10px; top: 38px;width:39px;height: 26px; background-size: 160px; background-position: 20px 0}
.state_wrap{width: 100%;height:79px; border-bottom: solid 1px #dfdfdf; background: #fff }
.state_wrap ul{width: 96%; margin: 0 auto}
.state_wrap li{float: left;width:20%; text-align: center; position: relative;}
.state_wrap li span{position: absolute;right: .4rem; top: .8rem;width: .85rem;height: .85rem;background: #ff6666; text-align: center; color: #fff; border-radius: 50%}
.state_wrap li:last-child{margin-right: 0}
.state_wrap .top_tip{width: 26px; height: 24px;margin:18px 0 8px;background-size:164px;display:inline-block; }
.state_wrap .bg_1{background-position: 0 -26px;}
.state_wrap .bg_2{background-position: 0 -75px;}
.state_wrap .bg_3{background-position: 0 -123px;}
.state_wrap .bg_4{background-position: 0 -163px;}
.state_wrap .bg_5{background-position: 0 -220px;}
.total_list{height:45px;line-height: 45px; background-color:#fff; padding: 0 4%;position: relative;}
.total_list_s{height:45px;line-height: 45px; position: relative;}
.total_list span,.total_list_s span{display: inline-block;vertical-align: middle;}
.list_total{ background-size: 150px; background-position: -38px 2px;width: 20px; height: 20px; margin-right: 3px}
.min_wrap{background: #fff;padding: 0 4%;}
.right_arrow_hei{position: absolute;right: 5px;width:30px;height: 20px; background-size: 160px; background-position: -40px -164px ; top:5px}
.right_arrow_0{right: 0;background-position: -36px -164px; }
.border_b{border-bottom: solid 1px #dfdfdf;}
.quan_tip{background-position: -38px -39px;}
.quan_tip_s{background-position: -38px -80px;}
.quan_tip_s1{background-position: -38px -116px;}
/* 图片导航 文本导航小缩略图 */
.page-design .item .item-image .preview_img{display: none;}
/*底部導航*/
#widget_last{border-left:1px solid #ccc;border-right:1px solid #ccc;}
.store_footerNav{ width: 100%; max-width: 322px; background-color: #fff;border:1px solid #ccc; border-top:none;margin: 0 auto;}
.footerNav_ul{ width: 100%;}
.footerNav_ul >li{ float: left; width: 33.1%; text-align: center; border-right: 1px solid #e5e5e5; height: 48px;line-height:48px;position: relative}
.footerNav_ul >li:last-child{ border-right:none;}
.footerNav_ul >li ul{ position: absolute;bottom: 48px;width:100%; background-color: #fff;}
.footerNav_ul >li ul li{ padding: 0 10px;border: 1px solid #e5e5e5; height: 36px;line-height:36px}
.footerNav_list{ display: block; color: #4b4b4b; width: 100%; height: 48px; line-height: 48px;}
.footerNav_list span{ vertical-align: middle; display: inline-block;}
.footerNav_icon{ width: 0.4rem; height: 0.35rem; background-position: -2.95rem -5rem; vertical-align: middle; margin-right: 0.1rem;}
.icon2_sprites{ background-image: url(../../img/shop/icon2_sprites.png); background-size: 10rem; background-repeat: no-repeat;}
/* 店铺装修 preview-video样式 */
.j-richtext .edui-faked-video{width: 307px;height: 202px;}
/* 魔方 */
.cube2-edit table td.empty::after { content: "+"; }
.cube2-edit table td.empty { background-color: transparent; }
.cube2-edit table td {
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #ccc;
    cursor: pointer;
    height: 60px;
    padding: 0;
    text-align: center;
    width: 60px; }
.help-desc {font-size: 12px; line-height: 14px; margin-bottom: 0; margin-top: 6px; opacity: 0.6;}
.cube_choices img {height: 100px; width: 100px;}

.j-custom-cube_preview td.preview_cube::after { content: "+"; }
.j-custom-cube_preview td .preview_cube { background-color: transparent; }
.j-custom-cube_preview td {
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    color: #ccc;
    cursor: pointer;
    height: 77px;
    padding: 0;
    text-align: center;
    width: 77px; }

.clearfix::after, .clearfix::before { content: "";  display: table;  line-height: 0; }
.clearfix::after { clear: both;  content: "​";  display: block;  height: 0;}
.modal-body { max-height: none;  overflow-y: auto;  padding: 15px;  position: relative;}
.j-cube-layout { padding: 35px 145px}
.js-cube_item-region {margin: 20px 0;}
.layout-cols { float: left; }
.layout-cols li.selected { background: #ddeafb none repeat scroll 0 0; border-color: #c3d9ff; }
.layout-cols li { -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #f8f8f8 none repeat scroll 0 0;
    border-color: #e9e9e9;
    border-image: none;
    border-style: solid;
    border-width: 1px 2px 2px 1px;
    height: 60px;
    margin: 1px;
    width: 60px; }



