/* ▼ 运费模版*/
.w80{width:80px !important;}
.w100{width:100px !important;}
.w120{width:120px !important;}
.w240{width:240px !important;}
.goods_list_wrap{font-size: 12px;}
.goods_list_wrap tbody tr{border: 1px solid #ddd; margin-bottom: 10px;}
.goods_list_wrap th{font-weight: normal;}
#freight-pop .freight-detial{*height:100px; max-height:100px}
.freight-pop .freight-header{border-top:0 none}
.freight-pop{background-color:#fff; border:1px solid #ffcc7f; padding:10px; position:absolute; width:540px; z-index:10000}
.freight-pop.bottom-arrow:before, .freight-pop.bottom-arrow:after{content:""; position:absolute; border-style:solid; border-color:transparent}
.freight-pop.bottom-arrow:after{border-width:6px 7px 0 7px; border-top-color:#fff; right:241px; bottom:-6px}
.freight-pop.bottom-arrow:before{border-width:8px 8px 0 8px; border-top-color:#ffcc7f; right:240px; bottom:-8px}
.freight-pop.top-arrow:before, .freight-pop.top-arrow:after{content:""; position:absolute; border-style:solid; border-color:transparent}
.freight-pop.top-arrow:after{border-width:0 7px 6px 7px; border-bottom-color:#fff; right:241px; top:-6px}
.freight-pop.top-arrow:before{border-width:0 8px 8px 8px; border-bottom-color:#ffcc7f; right:240px; top:-8px}

.postage .freight{border:1px solid #bbb; margin:10px 0}
.postage .freight-header{border-top:1px solid #bbb; border-bottom:1px solid #bbb}
.postage .freight-prefix{padding:0 10px; height:34px; line-height:34px; background-color:#e8e8e8}
.postage .freight-prefix a{color:#36c}
.postage .title{font-size:14px;margin:0;line-height:34px;font-weight:bold;}
.postage table{table-layout:fixed; width:100%;}
.postage .freight-detial{width:100%; max-height:190px; overflow-y:auto; _overflow-y:scroll; height:expression(this.scrollHeight>140 ? "140px":"auto")}
.postage tr{height:25px;}
.postage th, .postage td{border-width:1px 0 0 1px; border-color:#bbb; border-style:solid; text-align:center;}
.postage .freight th:first-child, .postage .freight td:first-child{border-left:0 none}
.postage .freight tr:first-child th, .postage .freight tr:first-child td{border-top:0 none}
.postage th{font-weight:400; color:#000; background-color:#f5f5f5}
.postage td{height:20px}
.postage .text-l{padding:0 10px; text-align:left}
#freight .postage-detail{margin:5px; padding:10px; border:1px solid #ccc;}
#freight .postage-default{padding:0 15px 5px; line-height:25px;}
#freight .postage-default input{width: 6%; text-align: center; margin-right: 10px;}
#freight .postage-other{margin-top:10px}
#freight .postage-other table{border-width:1px 0 0 1px; border-color:#bbb; border-style:solid; text-align:center;width:900px;}
#freight .postage-other th{height:32px; font-weight:400; background-color:#f5f5f5}
#freight .postage-other th, #freight .postage-other td{border-width:0 1px 1px 0; border-color:#bbb; border-style:solid; text-align:center;vertical-align:middle;}
#freight .postage-other .text-l{text-align:left}
#freight .postage-attach{line-height:24px; padding-top:6px}
#freight .freght-set a, #freight a.freght-set{color:#36c}
#freight #deliveryTip, #freight #errorTip{margin-left:3px}
#freight .delivery-name label{font-weight:normal;}
#freight .error{border:1px solid #f00}
#freight .area-name{margin-right:45px}
.area-list{list-style-type:none; position:relative; z-index:100}
.area-list .item{width:100%; height:30px; line-height:30px}
.area-list .region{position:relative; float:left; margin-right:1px; padding-right:8px; height:30px; width:80px}
.area-list .province-list{position:relative; float:left; margin-right:1px; padding-right:8px; height:30px}
.area-list .province{white-space:nowrap; margin-right:3px; float:left; position:relative; width:80px}
.area-list .province >div{padding:0 5px}
.area-list .city-list{display:none; background-color:#FFFEC6; position:absolute; float:right; border:solid 1px #f7e4a5; z-index:20000; top:35px; left:0; width:280px; display:none; white-space:wrap; padding:5px 0}
.area-list .closeBox{display:block; text-align:right; float:none}
.area-list .btn_item{background-color:#1e9cfe;border:0 none;height:20px;line-height:20px;}
.area-list .city{background-color:#FFFEC6; border:solid 1px #f7e4a5; border-bottom:0 none; z-index:21000; position:relative}
.area-list .city-label{font-weight:normal;}
.area-list img{position:relative;top:-3px;}
.area-list .region-label{font-weight:bold; margin:0 5px}
.area-list .city-list li{margin-right:3px; padding:0 5px; float:left; line-height:20px; list-style-type: none; }
.dialog-box table{table-layout:fixed}
.dialog-box th, .dialog-box td{padding:5px}
.dialog-content-box{max-height:320px; overflow:auto}
.section_r .breadcrumb{ background-color: #FFF;}
.section_r .breadcrumb > li + li::before{content:'';padding:0;}
.section_r .breadcrumb li{background-color: #fe4701;color: #fff; padding: 0 26px;height:30px; line-height:30px;border: 0 none;font-size: 14px;}
.section_r .breadcrumb li a{color: #fff; display:block; padding:0;height:30px; line-height:30px;}
.input_wrap{float: left; margin-bottom: 12px;}
/* ▲ 运费模版*/