@charset "utf-8";
/* CSS Document */

body{ margin: 0 auto; font-size: 14px; font-family: "微软雅黑"; color: #000;}
input,h1,h2,h3,h4,p,img,dl,dt,dd,ul,li{ margin:0; padding: 0; list-style: none; border:none;}
a:link{ text-decoration: none;}
a:visited{ text-decoration: none;}
/*去掉点击a时背景变灰*/
a{
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}
a:focus {
     outline:none;
     -moz-outline:none;
}
.clearfix { *zoom: 1 }
.clearfix:before,.clearfix:after { display: table; line-height: 0; content: "" }
.clearfix:after { clear: both; }
a:link{ text-decoration: none;}
/*a:hover{ color: #fff;}*/
.lf{ float: left;}
.rf{ float: right;}

/*公共样式*/
.layout{ width: 100%; min-width: 980px; overflow: hidden;}
.layout_top{ height: 82px; background-color: #fff;
	-webkit-box-shadow:0 10px 10px rgba(96,96,96,.1);
  	-moz-box-shadow:0 10px 10px rgba(96,96,96,.1);
  	box-shadow:0 10px 10px rgba(96,96,96,.1);
}
.mod_wrap{ width: 980px; margin: 0 auto;}
.logo_box{ display: inline-block; width: 133px; height: 82px;}
.layout_footer{ overflow: hidden; height: 120px; font-size: 12px; color: #9fa0a0; text-align: center;}
.fixed_box{ position: fixed; bottom: 0; background-color: #fff;}
.mt45{ margin-top: 45px;}
input:-moz-placeholder { color:#adadad;}
.top_mod{ position: relative;}
.top_t_box{ position: absolute; right: 0; top: 50%; margin-top: -12px; height: 24px;}
.top_btn_item{ float: left; display: inline-block; width: 70px; height: 22px; line-height: 22px; border: 1px solid #5892f0; border-radius: 5px; text-align: center; color: #5892f0; margin-left: 10px;}
.regis_btn{ background-color: #5892f0; color: #fff;}



/*首页*/
body,html{ height: 100%;}
#index .index_bg{ min-height: 100%; background: url(../img/index_bg01.jpg) no-repeat center 82px; background-size: cover;}
#index .wecome_font{ display: block; margin: 237px auto 44px;}
#index .index_btn_box{ padding: 0 86px 44px; text-align: center;}
#index .btn_item{ display: inline-block; width: 372px; height: 70px; line-height: 70px; border-width: 1px; border-style: solid; font-size: 26px; color: #fff; border-radius: 10px; letter-spacing: 10px;}
#index .blur_btn{ background-color: #5892f0; border-color: #5892f0;}
#index .bor_btn{ background-color: rgba(0,0,0,0); border-color: #fff;}

/*注册 登录*/
#registered{ background-color: #f7f7f7;}
#registered .form_mod{ padding: 86px 0 0;}
#registered .form_list_box{ position: relative; text-align: center; line-height: 46px; margin-bottom: 26px;}
#registered .label_item{ margin-bottom: 0; font-weight: normal; display: inline-block; vertical-align: middle; text-align: right; font-size: 16px; color: #5d5d5d;}
#registered .input_item{ display: inline-block; height: 46px; background-color: #fff; font-size: 14px; border: 1px solid #cecece; border-radius: 5px; font-family: '微软雅黑';}
#registered .input_item::-webkit-input-placeholder { color:#adadad;}
#registered .input_item::-moz-placeholder { color:#adadad;} /* firefox 19+ */
#registered .input_item:-ms-input-placeholder { color:#adadad;} /* ie */
#registered .input_box_item{ overflow: hidden; vertical-align: middle; position: relative; padding-right: 116px; display: inline-block; width: 224px; height: 46px; background-color: #fff; border: 1px solid #cecece; border-radius: 5px;}
#registered .input_other{ border: 1px solid #cecece; border-radius: 5px; position: absolute; left: 0; top: 0; text-indent: 15px; width: 100%;}
#registered .yzm_btn{ position: absolute; right: 0; top: 0; border-radius: 0 5px 5px 0; padding: 0 2px; height: 46px; text-align: center; background-color: #5892f0; color: #fff;}
#registered .mt24{ margin-top: 24px;}
#registered .sure_btn{ background-color: #5892f0; border-color: #5892f0; cursor: pointer; letter-spacing: 2px; height: 55px; line-height: 55px; font-size: 20px; color: #fff;}
#registered .login_box{ margin: 50px 0; border-radius: 5px; border: 1px solid #cecece; min-height: 487px; background-color: #fff;}
#registered .tab{ height: 50px; line-height: 50px; background-color: #5892f0;}
#registered .tab li{cursor: pointer; float: left; width: 50%; text-align: center; color: rgba(255,255,255,.5); font-size: 16px;}
#registered .bor_r{ border-right: 1px solid #fff; margin-left: -1px;}
#registered .tab li.on{ color: #fff;}

#registered .mt46{ margin-top: 46px;}
#registered .input_box2_item{ padding-right: 0; padding-left: 0; overflow: hidden; vertical-align: middle; position: relative; display: inline-block; height: 46px; background-color: #fff;}
#registered .yzm_img_btn{ position: absolute; right: 1px; top: 1px; border-radius: 0 5px 5px 0; width: 126px; height: 44px; overflow: hidden; text-align: center; background-color: #edf7ff; color: #fff; z-index: 33;}
#registered .input_box2_in{ height: 46px; position: relative; padding-right: 126px;}
#registered .form_list_box_cur{ position: relative; text-align: right; line-height: 18px;}
/*新加*/
.iconR_right{border-bottom-color: #d9d7d7;right: -10px; z-index: 22; !important; display: none;}

.icon_sprite{ background: url(../img/shark_sprite.png) no-repeat; background-size: 300px;}
/*------------未审核----------------*/
#audit{ color: #5d5d5d; background-color: #f7f7f7;}
#audit .message_warp{ width: 100%;}
#audit .message_box{ margin: 0 auto; padding-top: 52px; padding-bottom: 57px;}
#audit .content{ margin: 52px 0 57px; border: 1px solid #cecece; border-radius: 5px; overflow: hidden; background-color: #fff;}
#audit .headline_box{ background-color: #5a93ed; color: #fff; float: none; padding: 0;}
#audit .headline_box p{ padding: 18px 20px; font-size: 16px;}
#audit .grid_warp{ margin: 25px 15px 28px; border: 1px solid #cecece; border-radius: 5px; float: none; width: auto; padding: 0;}
#audit .grid{ margin: 49px auto 49px; font-size: 14px; width: 100%;}
#audit .grid tr{ padding-bottom: 45px; display: block; margin: 0; overflow: hidden; width: 100%;}
#audit .grid tr:last-child{ padding-bottom: 0;}
#audit .grid tr td{ padding: 0; display: inline-block; float: left; margin-right: 5%;}
#audit .grid tr td:last-child{ margin-right: 0;}
#audit .grid_list_l{ width: 25%; text-align: right;}
#audit .grid_list_m{ width: 35%; text-align: center;}
#audit .grid_list_r{ width: 30%; text-align: left;}
#audit .to_perfect{ display: inline-block; width: 70px; height: 24px; font-size: 12px; text-align: center; line-height: 24px; background-color: #5a92ec; color: #fff; border-radius: 5px;}
#audit .list_m_txt span{ vertical-align: middle;}
#audit .list_m_cur{ display: inline-block; width: 16px; height: 16px; background-position: 0 -100px; margin-left: 12px;}
#audit .not_serve{ display: block;/* width: 340px; */height: 55px; color: #fff; background-color: #dadada; border-radius: 5px; text-align: center; line-height: 55px; font-size: 20px; margin: 0 auto 38px; float: none;}

#audit .wait_box{ background-color: #5a93ed; color: #fff;}
#audit .wait_con{ padding-top: 19px; padding-left: 20px; padding-bottom: 18px; line-height: 16px; font-size: 16px;}
#audit .wait_box_cur{/* width: 560px;*/}
#audit .wait_box_cur p{ margin: 0 auto;}
#audit .wait_box_cur p:nth-child(1){ padding-bottom: 10px;}
#audit .approve{ color: #58c13e;}
#audit .approve_arr{ display: inline-block; width: 14px; height: 16px; background-position: 0 -200px; margin-left: 12px;}

#audit .already_serve{ background-color: #5a93ed;}

#audit .wait_con_au{ padding-bottom: 10px;}

/*---------联系人认证弹窗----------*/
#audit .popup_warp{ overflow: hidden; display: none;}
#audit .popup_warp .popup_bg{ height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); left: 0; position: fixed; top: 0; z-index: 33;}
#audit .popup_box{ position:fixed; width: 400px; height: 410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px; background: #fff; border-radius: 5px; z-index: 99; overflow: hidden;}
#audit .linkman{ border-bottom: 1px solid #eaeaea; font-size: 16px; color: #5a93ed; font-weight: bold; padding: 20px 54px 20px 18px; position: relative;}
#audit .close_linkman{ position: absolute; display: inline-block; top: 50%; right: 15px; margin-top: -7px; width: 24px; height: 14px; background-position: -94px -100px; vertical-align: middle; cursor: pointer;}
#audit .fill_in{ width: 400px; padding-top: 37px;}
#audit .fill_in li{ overflow: hidden; margin-bottom: 30px;}
/*.fill_in li:last-child{ margin-bottom: 0;}*/
#audit .fill_l{ display: inline-block; min-width: 80px; height: 48px; line-height: 48px; text-align: right; font-size: 16px; margin-right: 16px;}
#audit .fill_r{ display: inline-block; width: 270px; height: 46px; line-height: 46px; border: 1px solid #cecece; border-radius: 5px; font-size: 14px; text-indent: 19px; font-family: '微软雅黑';}
#audit .fill_r::-webkit-input-placeholder { color:#adadad;}
#audit .fill_r::-moz-placeholder { color:#adadad;} /* firefox 19+ */
#audit .fill_r:-ms-input-placeholder { color:#adadad;} /* ie */
#audit .submit_btn{ display: block; width: 200px; height: 48px; text-align: center; line-height: 48px; border-radius: 5px; background-color: #5892f0; color: #fff; font-size: 16px; margin: 0 auto 20px;}


/*---------公司认证弹窗----------*/
#audit .popup_company{ overflow: hidden; display: none;}
#audit .popup_company .popup_bg{ height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); left: 0; position: fixed; top: 0; z-index: 33;}
#audit .company_box2{ position: fixed; background-color: #fff; width: 520px; max-height: 628px; top: 50%; left: 50%; margin-left: -260px; margin-top: -314px; z-index: 99; border-radius: 5px; overflow: hidden;}
#audit .approve_box{ border-bottom: 1px solid #cecece; position: relative; font-size: 16px; font-weight: 600; color: #5d5d5d; height: 60px; line-height: 60px;}
#audit .approve_box span{ vertical-align: middle;}
#audit .approve_l{ padding-left: 92px; padding-right: 106px;}
#audit .approve_box .approve_l .mark_name{ max-width: auto; font-weight: 600px; margin-bottom: 0;}
#audit .approve_r{ height: 60px;line-height: 60px; overflow: hidden;}
#audit .select_null{ display: inline-block; width: 15px; height: 15px; background-position: 0 -400px; margin-right: 9px; cursor: pointer;}
#audit .select_solid{ display: inline-block; background-position: 0 -300px;}
#audit .close_com{ display: inline-block; position: absolute; right: 15px; top: 50%; margin-top: -7px; width: 24px; height: 14px; background-position: -95px -100px; cursor: pointer;}
#audit .approve_con{ width: 520px; height: 500px; overflow-y: scroll; position: relative;}
#audit .com_warp{ padding-top: 15px;}
#audit .com_warp li{ padding-bottom: 12px;}
#audit .com_l{ display: inline-block; min-width: 114px; height: 48px; line-height: 48px; text-align: right; font-size: 16px; margin-right: 20px;}
#audit .com_r{ display: inline-block; width: 356px; height: 46px; line-height: 46px; border: 1px solid #cecece; border-radius: 5px; font-size: 14px; text-indent: 19px; font-family: '微软雅黑';}
#audit .com_r::-webkit-input-placeholder { color:#adadad;}
#audit .com_r::-moz-placeholder { color:#adadad;} /* firefox 19+ */
#audit .com_r:-ms-input-placeholder { color:#adadad;} /* ie */
#audit .file_box{overflow: hidden;}
#audit .com_l_file{ height: 70px; line-height: 70px;}
#audit .upload_box{ width: 150px; max-height: 70px; text-align: center; line-height: 70px; border: 1px dashed #5a93ed; border-radius: 5px; position: relative; overflow: hidden;}
#audit .file_img{ display: inline-block; width: 150px; height: 70px; opacity: 0; position: absolute; left: 0; top: 0;}
#audit .file_img_cur{ margin-right: 20px;}
#audit .file_character{ font-size: 14px; color: #5a93ed;}
#audit .upload_explain{ padding-top: 11px;}
#audit .explain_just{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px; margin-right: 20px;}
#audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
#audit .com_site_box{ width: 356px;}
#audit .site_select{ float: left;}
#audit .sel_wrap{ float: left;}
#audit .com_site_box select{ width: 110px; height: 48px; margin-right: 8px; border-radius: 5px; border-color: #cecece; color: #adadad; font-size: 14px; font-family: '微软雅黑';}
#audit .com_site_box select option{ color: #000;}
#audit .site_detail{ /*display: block;*/ width: 356px; height: 48px; line-height: 48px; font-size: 14px; text-indent: 20px; border:  1px solid #cecece; border-radius: 5px; margin-top: 20px; font-family: '微软雅黑';}
#audit .site_detail::-webkit-input-placeholder { color:#adadad;}
#audit .site_detail::-moz-placeholder { color:#adadad;} /* firefox 19+ */
#audit .site_detail:-ms-input-placeholder { color:#adadad;} /* ie */
#audit .submit_btn2{ width: 252px;}

/*---------主营类目弹窗----------*/
#audit .marketing_warp{ overflow: hidden; display: none;}
#audit .marketing_bg{ height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); left: 0; position: fixed; top: 0; z-index: 33;}
#audit .marketing{ position: fixed; background-color: #fff; width: 400px; height: 430px; top: 50%; margin-top: -215px; left: 50%; margin-left: -200px; z-index: 99; border-radius: 5px; overflow: hidden;}
#audit .marketing_con{ width: 400px; overflow: hidden;}

.classify_mark{ width: 300px; margin: 38px auto 20px;}
.classify_mark li{ padding-bottom: 28px; font-size: 14px; overflow-y: hidden;}
.classify_mark li div{ width: 100px; height: 28px; line-height: 28px; border: 1px solid #eaeaea; text-align: center; color: #333; cursor: pointer;}
.classify_mark li .mark_sort{ background-color: #5892f0; color: #fff;}


/*---------订购弹窗----------*/
#audit .order_warp{ overflow: hidden; display: none;}
#audit .order_bg{ height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); left: 0; position: fixed; top: 0; z-index: 33;}
#audit .order_boxs{ position: fixed; background-color: #fff; width: 400px; height: 400px; top: 50%; margin-top: -200px; left: 50%; margin-left: -200px; z-index: 99; border-radius: 5px; overflow: hidden;}
#audit .try_out_box{ font-size: 16px; line-height: 16px; margin-left: 136px;}
#audit .try_out{ padding-top: 53px; padding-bottom: 49px;}
#audit .try_out_arr{ display: inline-block; vertical-align: middle; width: 15px; height: 15px; background-position: 0 -400px; margin-right: 10px; cursor: pointer;}
#audit .try_out_arr_cur{ background-position: 0 -300px;}
#audit .pay_order{ padding-bottom: 84px;}
#audit .order_number{ text-align: center; font-size: 12px; padding-bottom: 20px;}



/*开通成功*/
#opened_successfully{ background-color: #f7f7f7;}
#opened_successfully .open_success_box{ padding-top: 132px; font-size: 16px; color: #5d5d5d; text-align: center;}
#opened_successfully .sucess_icon{ display: inline-block; width: 60px; height: 60px; background: url(../img/successful_icon01.png) no-repeat; background-size: 100%; margin-bottom: 16px;}
#opened_successfully .congratulations{ font-size: 20px; font-weight: bold; margin-bottom: 22px; padding-left: 12px; letter-spacing: 3px;}

/*---------认证信息页----------*/
.message_box_cur{ margin: 0 auto; padding-top: 52px; padding-bottom: 57px;}
.content_curr{ margin: 0 auto; border: 1px solid #cecece; border-radius: 5px; overflow: hidden; background-color: #fff;}
.headinfo_box{ background-color: #5a93ed; height: 50px; color: #fff; line-height: 50px;}
.headinfo_box p{ padding-left: 20px; font-size: 16px;}
.matter_warpss{ margin: 30px 49px 44px;/* border: 1px solid #cecece; border-radius: 5px;*/ overflow: hidden;}
.matter_state{ height: 50px; background-color: #eef1f3; font-size: 16px; font-weight: bold; line-height: 50px; padding-left: 15px; border-top: 1px solid #cecece; border-right: 1px solid #cecece; border-left: 1px solid #cecece; border-radius: 5px 5px 0 0;}
.matter_warpss .matter_tables{ margin-bottom: 0; border-color: #cecece; -webkit-border-radius: 0 0 5px 5px; -moz-border-radius: 0 0 5px 5px; border-radius: 0 0 5px 5px;}
.matter_warpss .matter_tables tr td{ border: 1px solid #cecece; width: 50%; text-indent: 10px; font-size: 12px; color: #666; padding: 14px 0;}
.matter_warpss .matter_tables tr td .link_amend{ display: inline-block; float: right; padding-right: 19px; text-decoration: underline; color: #5a93ed;}
.looks_approve_curr{ display: inline-block; float: right;; padding-right: 19px;}
.looks_approve_curr span{ vertical-align: middle; color: #666; display: inline-block;}
.looks_approve_curr a{ text-decoration: underline; color: #5a93ed;}
.looks_approve_curr .approve_type{ padding-right: 5px;}
.looks_approve_curr .approve_amend{ padding-left: 5px;}


/*---------公司认证弹窗-查看----------*/
.popup_company_look{ overflow: hidden; display: none;}
.popup_company_look .popup_look_bg{ height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); left: 0; position: fixed; top: 0; z-index: 33;}
.company_look_box2{ position: fixed; background-color: #fff; width: 520px; top: 13%; left: 50%; margin-left: -260px; z-index: 99; border-radius: 5px; overflow: hidden;}
.approve_look_box{ height: 69px; border-bottom: 1px solid #cecece; line-height: 69px; position: relative; font-size: 16px; font-weight: 600; color: #5d5d5d;}
.approve_look_box span{ vertical-align: middle;}
.approve_l_cur{ padding-left: 25px; color: #5a93ed;}
.close_com{ display: inline-block; position: absolute; right: 15px; top: 29px; width: 24px; height: 14px; background-position: -95px -100px; cursor: pointer;}
.approve_con{ width: 520px;}
.com_warp_cur2{ padding-top: 37px;}
.com_warp_cur2 li{ padding-bottom: 28px;}
.com_l_cur{ display: inline-block; min-width: 114px; color: #5d5d5d; text-align: right; font-size: 16px; margin-right: 20px;}
.com_r_cur{ font-size: 16px;}
.file_box{overflow: hidden;}
.com_l_file{ height: 70px; line-height: 70px;}
.upload_box2{ width: 150px; height: 70px; text-align: center; line-height: 70px; border: 1px solid #d1d1d1; border-radius: 5px; position: relative; overflow: hidden;}
.upload_box2 img{ width: 100%; vertical-align: middle;}
.file_img_cur{ margin-right: 20px;}
.upload_explain{ padding-top: 11px;}
.explain_just{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px; margin-right: 20px;}
.explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
.com_site_box2{ overflow: hidden; width: 316px; font-size: 16px; line-height: 24px;}

/*---------公司认证弹窗-修改----------*/
.popup_company_amend{ overflow: hidden; display: none;}
.popup_company_amend .popup_amend_bg{ height: 100%; width: 100%; background-color: rgba(0,0,0,0.5); left: 0; position: fixed; top: 0; z-index: 33;}
.company_amend_box2{ position: fixed; background-color: #fff; width: 676px; top: 80px; left: 50%; margin-left: -338px; z-index: 99; border-radius: 5px; overflow: hidden;}
.approve_amend_box{ border-bottom: 1px solid #cecece; color: #5d5d5d;}
.approve_amend_warp{ height: 68px; line-height: 68px; position: relative; font-size: 16px; font-weight: 600; overflow: hidden;}
.approve_amend_warp span{ vertical-align: middle;}
.approve_amend_l{ margin-left: 190px; margin-right: 106px; position: relative;}
.approve_amend_l .select_radio_b{ position: absolute; top: 28px; left: 0; width: 16px; height: 16px; margin: 0; display: none;}
.approve_amend_r{ width: 130px; position: relative;}
.approve_amend_r .select_radio_b{ position: absolute; top: 28px; left: 0; width: 16px; height: 16px; margin: 0; display: none;}
.select_null{ display: inline-block; width: 15px; height: 15px; background-position: 0 -400px; margin-right: 9px; cursor: pointer;}
.select_solid{ display: inline-block; background-position: 0 -300px;}
.close_com{ display: inline-block; position: absolute; right: 15px; top: 29px; width: 24px; height: 14px; background-position: -95px -100px; cursor: pointer;}
.approve_amend_hint{ font-size: 12px; color: #666; padding-bottom: 15px;}
.amend_hint_p1 span{ display: inline-block;}
.hint_p1_icon{ width: 17px; height: 17px; background-position: -100px -200px; margin-right: 8px;}
.approve_amend_hint p{ padding: 0 36px; line-height: 18px;}
.amends_con{ width: 520px;}
.amends_com_warp{ padding-top: 37px;}
.amends_com_warp li{ padding-bottom: 15px;}
.com_l_amends{ display: inline-block; min-width: 114px; height: 48px; line-height: 48px; text-align: right; font-size: 16px; margin-right: 20px;}
.com_r_amends{ display: inline-block; width: 356px; height: 46px; line-height: 46px; border: 1px solid #cecece; border-radius: 5px; font-size: 14px; text-indent: 19px; font-family: '微软雅黑';}
.com_r_amends::-webkit-input-placeholder { color:#333333;}
.com_r_amends::-moz-placeholder { color:#333333;} /* firefox 19+ */
.com_r_amends:-ms-input-placeholder { color:#333333;} /* ie */
.file_box{overflow: hidden;}
.com_l_file{ height: 70px; line-height: 70px;}
.upload_box_cur{ width: 150px; height: 70px; text-align: center; line-height: 70px; border: 1px solid #d1d1d1; border-radius: 5px; position: relative; overflow: hidden;}
.upload_box_cur img{ width: 100%; position: absolute; left: 0;}
.upload_box_bg{ position: absolute; top: 0; left: 0; width: 150px; height: 70px; background-color: rgba(0,0,0,0.5); z-index: 33;}
.file_img_amends{ display: inline-block; width: 150px; height: 70px; opacity: 0; position: absolute; left: 0; top: 0; z-index: 99; cursor: pointer;}
.file_img_cur{ margin-right: 20px;}
.file_character_cur{ font-size: 14px; color: #fff; position: absolute; left: 22%; z-index: 66;}
.upload_explain{ padding-top: 11px;}
.explain_just{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px; margin-right: 20px;}
.explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
.amends_site_box select{ width: 112px; height: 48px; padding-left: 15px; border-radius: 5px; border-color: #cecece; color: #333; font-size: 14px; font-family: '微软雅黑';}
.amends_site_box select option{ color: #333;}
.site_detail_cur{ display: block; width: 357px; height: 48px; line-height: 48px; font-size: 14px; text-indent: 20px; border:  1px solid #cecece; border-radius: 5px; margin-top: 20px; font-family: '微软雅黑';}
.site_detail_cur::-webkit-input-placeholder { color:#333333;}
.site_detail_cur::-moz-placeholder { color:#333333;} /* firefox 19+ */
.site_detail_cur:-ms-input-placeholder { color:#333333;} /* ie */
.amend_submit_btn{ display: block; width: 252px; height: 48px; text-align: center; line-height: 48px; border-radius: 5px; background-color: #5892f0; color: #fff; font-size: 16px; margin: 0 auto 46px;}


/*--------弹窗媒体查询----------*/
@media screen and (min-width: 320px) {
    #audit .popup_box{ position:fixed; width: 300px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -150px;}
    #audit .fill_in{ width: 300px;}
    #audit .fill_r{ display: inline-block; width: 175px;}
    #audit .company_box2{ position: fixed; width: 300px; height: 440px; top: 50%; left: 50%; margin-left: -150px; margin-top: -220px;}
    #audit .approve_l{ padding-left: 20px; padding-right: 44px;}
    #audit .approve_con{ width: 300px; height: 300px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 20px;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: none;}
	#audit .sel_wrap select{ width: 100%; margin-bottom: 10px;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
	#audit .marketing{ position: fixed; width: 280px; height: 400px; top: 50%; margin-top: -200px; left: 50%; margin-left: -140px;}
	#audit .marketing_con{ width: 280px; overflow: hidden;}
	.classify_mark{ width: 280px; margin: 38px auto 10px;}
	.classify_mark li{ margin: 0 20px;}
	#audit .order_boxs{ position: fixed; width: 280px; height: 340px; top: 50%; margin-top: -170px; left: 50%; margin-left: -140px;}
	#audit .submit_btn2{ width: 220px;}
	#audit .try_out{ padding-top: 40px; padding-bottom: 30px;}
	#audit .pay_order{ padding-bottom: 44px;}
}
@media screen and (min-width: 360px) {
    #audit .popup_box{ position:fixed; width: 300px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -150px;}
    #audit .fill_in{ width: 300px;}
    #audit .fill_r{ display: inline-block; width: 175px;}
    #audit .company_box2{ position: fixed; width: 300px; height: 440px; top: 50%; left: 50%; margin-left: -150px; margin-top: -220px;}
    #audit .approve_l{ padding-left: 20px; padding-right: 44px;}
    #audit .approve_con{ width: 300px; height: 300px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 20px;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: none;}
	#audit .sel_wrap select{ width: 100%; margin-bottom: 10px;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
	#audit .marketing{ position: fixed; width: 280px; height: 400px; top: 50%; margin-top: -200px; left: 50%; margin-left: -140px;}
	#audit .marketing_con{ width: 280px; overflow: hidden;}
	.classify_mark{ width: 280px; margin: 38px auto 10px;}
	.classify_mark li{ margin: 0 20px;}
}
@media screen and (min-width: 375px) {
    #audit .popup_box{ position:fixed; width: 300px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -150px;}
    #audit .fill_in{ width: 300px;}
    #audit .fill_r{ display: inline-block; width: 175px;}
    #audit .company_box2{ position: fixed; width: 320px; height: 500px; top: 50%; left: 50%; margin-left: -160px; margin-top: -250px;}
    #audit .approve_l{ padding-left: 32px; padding-right: 44px;}
    #audit .approve_con{ width: 320px; height: 372px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 20px;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: none;}
	#audit .sel_wrap select{ width: 100%; margin-bottom: 10px;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
}
@media screen and (min-width: 384px) {
    #audit .popup_box{ position:fixed; width: 350px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -175px;}
    #audit .fill_in{ width: 350px;}
    #audit .fill_r{ display: inline-block; width: 230px;}
    #audit .company_box2{ position: fixed; width: 320px; height: 500px; top: 50%; left: 50%; margin-left: -160px; margin-top: -250px;}
    #audit .approve_l{ padding-left: 32px; padding-right: 44px;}
    #audit .approve_con{ width: 320px; height: 372px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 20px;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: none;}
	#audit .sel_wrap select{ width: 100%; margin-bottom: 10px;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
}
@media screen and (min-width: 414px) {
    #audit .popup_box{ position:fixed; width: 350px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -175px;}
    #audit .fill_in{ width: 350px;}
    #audit .fill_r{ display: inline-block; width: 230px;}
    #audit .company_box2{ position: fixed; width: 350px; height: 600px; top: 50%; left: 50%; margin-left: -175px; margin-top: -300px;}
    #audit .approve_l{ padding-left: 44px; padding-right: 44px;}
    #audit .approve_con{ width: 350px; height: 472px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 36px;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: none;}
	#audit .sel_wrap select{ width: 100%; margin-bottom: 10px;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
	#audit .submit_btn2{ width: 240px;}
	#audit .order_boxs{ position: fixed; width: 300px; height: 340px; top: 50%; margin-top: -170px; left: 50%; margin-left: -150px;}
	#audit .submit_btn2{ width: 220px;}
	#audit .try_out{ padding-top: 40px; padding-bottom: 30px;}
	#audit .pay_order{ padding-bottom: 44px;}
}
@media screen and (min-width: 520px) {
    #audit .popup_box{ position:fixed; width: 400px height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 350px;}
    #audit .fill_r{ display: inline-block; width: 230px;}
    #audit .company_box2{ position: fixed; width: 350px; height: 600px; top: 50%; left: 50%; margin-left: -175px; margin-top: -300px;}
    #audit .approve_l{ padding-left: 44px; padding-right: 44px;}
    #audit .approve_con{ width: 350px; height: 472px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 36px;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: none;}
	#audit .sel_wrap select{ width: 100%; margin-bottom: 10px;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
}
@media screen and (min-width: 960px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 500px; top: 50%; left: 50%; margin-left: -260px; margin-top: -250px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
    #audit .approve_con{ width: 520px; height: 372px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 0;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: left;}
	#audit .sel_wrap select{ width: 104px; margin-bottom: 0; float: left;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
	#audit .marketing{ position: fixed; width: 400px; height: 430px; top: 50%; margin-top: -215px; left: 50%; margin-left: -200px;}
	#audit .marketing_con{ width: 400px; overflow: hidden;}
	.classify_mark{ width: 320px; margin: 38px auto 10px;}
	.classify_mark li{ margin: 0 20px;}
	#audit .order_boxs{ position: fixed; width: 400px; height: 400px; top: 50%; margin-top: -200px; left: 50%; margin-left: -200px;}
	#audit .submit_btn2{ width: 252px;}
	#audit .try_out{ padding-top: 53px; padding-bottom: 49px;}
	#audit .pay_order{ padding-bottom: 70px;}
}
@media screen and (min-width: 1024px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 500px; top: 50%; left: 50%; margin-left: -260px; margin-top: -250px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
    #audit .approve_con{ width: 520px; height: 372px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 0;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .upload_box input{ position:absolute;left:0;top:0;opacity: 0}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
    #audit .sel_wrap{ float: left;}
	#audit .sel_wrap select{ width: 104px; margin-bottom: 0; float: left;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
}
@media screen and (min-width: 1280px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 628px; top: 50%; left: 50%; margin-left: -260px; margin-top: -314px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
    #audit .approve_con{ width: 520px; height: 500px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 0;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .upload_box input{ position:absolute;left:0;top:0;opacity: 0}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
	#audit .sel_wrap select{ width: 104px; margin-bottom: 0; float: left;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
	#audit .marketing{ position: fixed; width: 400px; height: 430px; top: 50%; margin-top: -215px; left: 50%; margin-left: -200px;}
	#audit .marketing_con{ width: 400px; overflow: hidden;}
	.classify_mark{ width: 320px; margin: 38px auto 10px;}
	.classify_mark li{ margin: 0 20px;}
}
@media screen and (min-width: 1366px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 628px; top: 50%; left: 50%; margin-left: -260px; margin-top: -314px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
    #audit .approve_con{ width: 520px; height: 500px; overflow-y: scroll; position: relative;}
    #audit .com_r{ display: block; width: 80%; margin: 0 auto;}
    #audit .com_l_file{ height: 48px; line-height: 48px;}
    #audit .file_box{ margin-left: 0;}
    #audit .upload_box{ width: 120px;/* margin-left: 20px;*/ position:relative}
    #audit .upload_box input{ position:absolute;left:0;top:0;opacity: 0}
    #audit .explain_just{ width: 100px;}
    #audit .explain_against{ width: 150px; text-align: center; color: #5d5d5d; font-size: 14px;}
	#audit .com_site_box{ width: 90%; margin: 0 auto; float: none;}
	#audit .site_detail{ display: block; width: 100%; margin: 20px auto 0;}
	#audit .site_select{ float: none;}
	#audit .sel_wrap select{ width: 104px; margin-bottom: 0; float: left;}
	#audit .sel_wrap select:nth-child(3){ margin-bottom: 0;}
}
@media screen and (min-width: 1440px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 628px; top: 50%; left: 50%; margin-left: -260px; margin-top: -314px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
    #audit .approve_con{ width: 520px; height: 500px; overflow-y: scroll; position: relative;}
}
@media screen and (min-width: 1600px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 628px; top: 50%; left: 50%; margin-left: -260px; margin-top: -314px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
}
@media screen and (min-width: 1920px) {
    #audit .popup_box{ position:fixed; width: 400px; height:410px; top: 50%; margin-top: -205px; left: 50%; margin-left: -200px;}
    #audit .fill_in{ width: 400px;}
    #audit .fill_r{ display: inline-block; width: 270px;}
    #audit .company_box2{ position: fixed; width: 520px; height: 628px; top: 50%; left: 50%; margin-left: -260px; margin-top: -314px;}
    #audit .approve_l{ padding-left: 100px; padding-right: 100px;}
}













