
body {background:none;}
a:hover {color: #404040;text-decoration:none; }
.link {color:#336699; cursor:pointer;}
.link:hover {color:#FF6600;text-decoration:none;}
.col-sub .link:hover {color:rgb(0,113,188); text-decoration:none;}
p {line-height:22px;}
.list-last {border-bottom:1px solid  #CEDEEF;}

.title {
	font-size:16px;
	font-family:\5fae\8f6f\96c5\9ed1;
	font-weight:bold;
	margin-bottom:15px;
}
.title span {
	font-size: 14px;
	color: #808080;
	margin-left:10px;
}
.contentlist-one .title {
	margin-bottom: 0;
}
.head-title {
	background: url("../images/img11.png") repeat scroll 100% 0 transparent;
    display: block;
    height: 30px;
    line-height: 30px;
    margin-bottom: 15px;
    margin-top: 35px;
    padding-left: 8px;
	font-size: 14px;
	font-family:\5fae\8f6f\96c5\9ed1;
}
.sub-title {
	font-size:14px;
	font-family:\5fae\8f6f\96c5\9ed1;
	font-weight:bold;
}
.title-intro {
	margin-top:20px; 
	margin-bottom:35px;
	text-indent:2em;
}
/*一级 二级 三级*/
.list-link {
	float:left;
	width:140px;
	height:30px;_height:40px;
	margin-right:50px;
	padding-bottom:15px;
	word-wrap:break-word;
	word-break:break-all;
}
.list-link span {
	color:#6a9cc3;
	line-height:22px;
}
.article-title {
	width:125px;
	float:right;
	line-height:22px;
}
.article-title:hover {
	color: #FF6600;
}

/* 面包屑 */
.crumbs{
	position: relative;
/*	position: fixed; *position:relative;
	top: 86px; *top:0; 
	width: 100%; */
	z-index: 1; 
	margin-left:auto;
	margin-right:auto;
	width:990px;
	height:34px;
	line-height:34px; 
}
.crumbs a{
	float:left; 
	display:inline-block;
	color:#336797; 
	margin-right:10px; 
	padding:0 20px 0 0;
}
.crumbs .last {
	background:none;
}

.crumbs .doc-rss {
    display: block;
    height: 16px;
    position: absolute;
    right: -28px;
    top: 9px;
    width: 16px;
}

.crumbs a{
	background:url(../images/crumb_bg.gif) no-repeat 100% 50%;
}
.crumbs span{
	display:none;
}

.container {
	width:990px;
	min-height:475px; 
/*	margin:120px auto; *margin-top:0;
	overflow:hidden; */
	margin:0 auto;
	font-family:tahoma,\5b8b\4f53; 
	text-align:left;
	-zoom: 1;
	
}
.grid-s165m0 .col-main {
	width:795px;
	float:right; 
	margin-right:0;_margin-right:-50px;
	/* *margin-top:70px;_margin-top:0;*/
}

.grid-s165m0 .center {
	width:795px;
	margin-left:auto;
	margin-right:auto;
}

.grid-s165m0 .col-sub { 
	width: 180px;
}
/*.bg_line { padding-top: 15px;}
.grid-s165m0 .main-wrap .title {background-color:#FFFFFF;position:fixed;*position:relative; top:120px;*top:0;z-index:99;width:800px; height:70px;}
*/

/*doc-index level-one*/
.box-container {margin-top:-20px;}
.box-container .last{
	margin-right:0;
}
.box-wrap {
	display:inline-block;
	float:left;
	width:375px;
	margin-right:42px;
}
.box-wrap .box-list {
	background:url("../images/img3.gif") repeat-x scroll 0 0;
	border:1px solid #D4E2F1; 
	position:relative; 
	width:375px;
	min-height:50px; 
	height:185px;_height:205px;
}
.box-list .box-list-hd {
	height:35px;
	line-height:35px;
	font-family:\5fae\8f6f\96c5\9ed1;
	font-size: 14px;
	font-weight:bold;
	margin-left: 10px;
}
.box-list .bd {
	padding: 0 8px 8px 8px;
}
.box-list .bd .box-bg, 
.box-list .bd .box-content {
	float:left;
}
.box-list .bd .box-bg {
	width:20px; 
	height:20px;
}
.box-list .bd .box-content {
	margin-left:5px;
}
.box-list .bd .box-left {
	float:left;
	margin-top:-10px;
	width:170px;
}
.box-list .bd .box-right {
	float:right;
	margin-top:-10px;
	width:170px;
}
.box-list li {
	background:url(../images/img12.gif) no-repeat 0 bottom;
	position:relative; 
	height: 45px;
	width:170px;
	margin:5px auto 5px auto;
}
.box-list .last {
	background:none;
}
.box-list a {
	color:rgb(0,113,188);
	font-size:12px;
}
.box-list a:hover {
	color:#FF6600;
	text-decoration:none;
}
.box-list .sub {
	font-size:12px;
	color:#404040;
}
.box-list .bd .info-overflow {
	display:block;
	overflow:hidden;
	width:120px;
	white-space:nowrap;
	text-overflow:ellipsis;
}

/*index-doc*/
.contentlist-front {
	margin-top:20px;
}
.contentlist-front .title{
	margin-bottom:0;
}
.contentlist-front .contentlist-item {
	float:left; 
	width:380px;
}
.contentlist-front .odd {
	margin-right:35px;
}
.contentlist-front h2 {
	float:left;
}
.contentlist-front .info-more {
	float:right;
	margin-right:10px;
	font-size:12px;
}
.api-sub-title {
    background: url("../images/img60.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 37px;
    line-height: 37px;
    margin-left: -30px;
    margin-top: -5px;
    padding-left: 30px;
    width: 850px;
}
.sub-column-title1 {
    font-weight: bold;
    height: 30px;
    line-height: 30px;
    margin-bottom: 20px;
    margin-top: -10px;
    padding-left: 10px;
}
.error
{
	color: #cc5965;
	display: inline-block;
	margin-left: 5px;
}