.license-wrapper {
	border:1px solid #d0d0d0;
	position:relative
}
.license-wrapper .license-l1 {
	margin:10px;
	border:10px solid #bcc9cc
}
.license-wrapper .license-l1 .license-l2 {
	background-color:#fffbf8;
	padding-left:65px;
	padding-top:110px;
	padding-bottom:20px;
	position:relative
}
.logo-license {
	position:absolute;
	left:82px;
	top:56px;
	background:url(../images/appzs.png);
	width:144px;
	height:35px
}
.img-license {
	position:absolute;
	right:-14px;
	bottom:-14px;
	background:url(../images/appoauto.png);
	width:158px;
	height:159px
}
.license-wrapper .license-item {
	font-size:14px;
	background:url(../images/app_li.png) repeat-x 0 bottom;
	padding-bottom:12px;
	padding-top:7px;
	padding-right:20px;
	clear:both;
	*zoom:1
}
.license-wrapper .last {
	background:0 0
}
.license-wrapper .license-item .license-title {
	width:14em;
	height:20px;
	line-height:20px;
	text-align:left;
	float:left
}
.license-wrapper .license-item .license-title span {
	display:inline-block;
	padding-right:15px;
	height:100%;
	position:relative
}
.license-wrapper .license-item .license-title span .icon-link {
	display:block;
	width:12px;
	height:11px;
	position:absolute;
	right:-11px;
	top:4px
}
.license-wrapper .license-item .license-title .noStar . {
	background:0 0
}
.license-wrapper .license-item .license-cont {
	float:left;
	width:60%
}
a {
	color:#05A;
	text-decoration:none
}
a:hover {
	color:#f27b04
}
.api-link {
	display:inline-block;
	margin-right:35px;
	margin-bottom:5px;
	margin-top:5px
}
.btn-wrap {
	margin-top:40px
}
.btn-wrap a {
	margin-right:20px;
	font-size:14px
}
.btn-wrap a.btn {
	font-size:16px
}
.kv-item {
	margin-bottom:20px
}
.kv-item .kv_label {
	margin-right:20px
}
.ks-stdmod-body {
	overflow:hidden
}
.ks-stdmod-header {
	font-size:16px;
	line-height:40px;
	font-weight:700;
	position:relative
}
.ks-stdmod-footer {
	margin:0;
	padding:0
}
.err_input {
	color:#C00;
	border-color:#C00
}
.msg-tip {
	margin-left:10px
}
.close {
	position:absolute;
	right:10px;
	top:14px;
	display:block;
	background:url(../images/close.png) no-repeat 0 0;
	width:8px;
	height:8px
}
.sub-code {
	margin-left:90px
}
.btn {
	*border:1px solid #ccc;
	*background-color:#f5f5f5
}
.link-license {
	position:absolute;
	right:30px;
	top:30px
}
.ks-stdmod-body {
	padding-bottom:0
}